#div{
    background-color: aquamarine;
    width: 400px;
    height: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.div{
    width: 1000px;
    height: 400px;
    border-radius: 45px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 15px black;
    background-image: url(https://img5.goodfon.ru/original/1920x1080/6/7b/pesok-more-volny-pliazh-leto-nebo-zakat-bereg-summer-beac-11.jpg);
}
#main p{
    color: aqua;
}
input:invalid{
    border: 2px solid red;
}
input:valid{
    border: 2px solid blue;
}
p{
    text-align: center;
}
html{
    background-image: url(https://img5.goodfon.ru/original/1920x1080/6/8e/botev-kalin-priroda-vetka-ptitsa-zolotistaia-shchurka.jpg);
}
h1{
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: aliceblue;
    text-shadow: 5px 5px 5px black;
}
.dvi{
    display: flex;
}